# Files
alias ll='lsd -la'
alias l='ls -CF'
alias fd='fdfind'

# Git
alias gs='git status'
alias ga='git add .'
alias gc='git commit -m'
alias gp='git push'

# Dev
alias dev='pnpm dev'
alias edc='npx expo start -c --dev-client'

# Docker
alias start-docker="sudo systemctl start docker.service"
alias stop-docker="sudo systemctl stop docker.service"

# System
alias reload='source ~/.zshrc'
