[user]
    name = Alcides Turruellas
	email = otyatech@gmail.com

[core]
    editor = code --wait

[alias]
    co = checkout
    br = branch
    st = status
[init]
	defaultBranch = main
[credential]
	helper = store
