[user]
    name = Alcides Turruellas
    email = ayunierto@gmail.com

[core]
    editor = zed --wait

[alias]
    co = checkout
    br = branch
    st = status
[init]
	defaultBranch = main
[credential]
	helper = store
