[Unit]
Description=Thermal Guard RyzenAdj

[Service]
ExecStart=%h/.local/bin/thermal-guard.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
